# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
out/
.next/
.expo/
.expo-shared/
*.tsbuildinfo

# Turbo
.turbo/

# Test
coverage/
.nyc_output/

# Env / secrets
.env
.env.local
.env.*.local
*.pem
*.key
*.p12
*.pfx

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

# Mobile
apps/mobile/ios/Pods/
apps/mobile/android/.gradle/
apps/mobile/android/build/
apps/mobile/android/app/build/
apps/mobile/android/app/release/

# Prisma
apps/api/prisma/migrations/dev/

# Local DB dumps
*.sql.gz
*.dump
